{% extends 'layout.twig' %}
{% block title %} {{ parent() }} - Formulaires {% endblock %}
{% block content %}
    <div class="page-content">
        <p>Ceci est la page form</p>
    </div>
{% endblock %}
