{% extends 'layout.twig' %}
{% block title %} {{ parent() }} - Médicaments {% endblock %}
{% block content %}
    <div class="page-content">
        <p>Ceci est la page medic</p>
    </div>
{% endblock %}
