<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
        <div class="media d-flex align-items-center">
            <div class="media-body">
                <h4 class="m-0">Nivantis</h4>
            </div>
        </div>
    </div>

    <div class="px-3 pb-4 mb-0">
        Connecté en tant que <b>Username</b>
        <p class="dc-link"><i><a href='?p=home'><i class="fas fa-door-open"></i> Se déconnecter</a></i></p>
    </div>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Elements</p>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="?p=form" class="nav-link text-dark font-italic">
                <i class="fab fa-wpforms fa-fw"></i>
                Formulaires
            </a>
        </li>

        <li class="nav-item">
            <a href="?p=medic" class="nav-link text-dark font-italic">
                <i class="fas fa-book-medical fa-fw"></i>
                Médicaments
            </a>
        </li>
    </ul>
</div>
